feed2ai.json
{
  "name": "feed2ai",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-340, -985],
      "id": "655dba48-00e0-4464-8993-0ab79d7c9729",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [-120, -1060],
      "id": "0f07c781-95a3-4ad1-b3e0-10b10a38a24f",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "maxItems": "={{ $('Config').item.json.rss.maxitems }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [100, -1060],
      "id": "5664e0cd-67e7-4ac5-8f15-bf3b17794831",
      "name": "Limit"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Config').item.json.rss.feeds }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-1000, -980],
      "id": "f08c77ab-d7b5-4288-8923-d251ac3f31e1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-780, -985],
      "id": "35484308-5d76-47c6-8490-cf4239451e0e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1b75ee0-67ba-4499-b388-047217741c9b",
              "leftValue": "={{ $json.active }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-560, -985],
      "id": "2ba50626-0c4e-406a-9530-4ea249dbcf5f",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41408686-f4cd-4e18-8a30-c5ffe9937f38",
              "name": "item_source",
              "value": "={{ $('Loop Over Items').item.json.site }}",
              "type": "string"
            },
            {
              "id": "fcb0ea99-c5c8-4b75-bb55-1e27ef8f157a",
              "name": "item_html",
              "value": "=<li><a href=\"{{ $json.link }}\">{{ $json.title }}</a></li>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [320, -1060],
      "id": "3d71171b-6d7e-40d3-8194-813c1df557d5",
      "name": "Add new fields"
    },
    {
      "parameters": {
        "content": "## Get active feeds from file",
        "height": 340,
        "width": 660,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1060, -1165],
      "id": "8083dec2-7018-4e03-b868-abccd1073eff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get first N items from each feed",
        "height": 340,
        "width": 1040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-370, -1165],
      "id": "1020de49-f8e9-476e-9364-d5b8212817a5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Summaries to HTML file, mailbox and Matrix channel",
        "height": 620,
        "width": 1240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -2000],
      "id": "0781c09c-292d-427e-9435-e4ff0cfac2c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1440, -880],
      "id": "357a6796-18a5-44a8-9cb7-4fc8297043b7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make a brief summary in {{ $('Config').item.json.ai.lang }} language of :\n{{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [1200, -1160],
      "id": "cf01f455-b67b-4f2e-873c-473221f4126c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1288, -940],
      "id": "98594612-067f-4484-8046-6c041cf51380",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## Ask AI Agent to make summary and send email",
        "height": 540,
        "width": 1260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [698, -1340],
      "id": "8c119356-b984-45c1-870e-88b069f4d74a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "item_html",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [540, -1060],
      "id": "27d93cf4-897f-4245-b8b0-0f6ce6305cb5",
      "name": "Group HTML items"
    },
    {
      "parameters": {
        "html": "={{ $json.concatenated_item_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [980, -1160],
      "id": "f96ee5b0-59df-4697-9658-38fa8fd170ed",
      "name": "HTML to Markdown"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [1576, -1160],
      "id": "3167f4df-4602-49b0-b766-1c8543b8e44e",
      "name": "Markdown  to HTML"
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').item.json.email.from }}",
        "toEmail": "={{ $('Config').item.json.email.to }}",
        "subject": "={{ $('Config').item.json.email.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [740, -1740],
      "id": "09ff2676-b1bc-4963-8c0b-481186f36f52",
      "name": "Send to Email",
      "webhookId": "d6962336-4a51-4372-a23d-392d0aad8f71",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Config').item.json.file.name }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [960, -1940],
      "id": "1152befb-718c-435b-b2cf-66c4affb66e6",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [740, -1940],
      "id": "f8df8bae-7603-4055-9881-e774489c5fd8",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "roomId": "={{ $('Config').item.json.chat.room }}",
        "text": "={{ $json.html }}",
        "messageFormat": "org.matrix.custom.html"
      },
      "type": "n8n-nodes-base.matrix",
      "typeVersion": 1,
      "position": [740, -1540],
      "id": "3639d2cf-ab06-455c-aa64-31a4cbebce04",
      "name": "Matrix",
      "credentials": {}
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "html",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [80, -1740],
      "id": "59bee858-1fe3-4076-99d0-92ab46f37664",
      "name": "Concatenate HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbe171aa-9c18-4c45-b98d-706064ab90aa",
              "leftValue": "={{ $('Config').item.json.file.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, -1940],
      "id": "2bde89ed-95b8-4dda-b247-b8dc81e2f910",
      "name": "If Output to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbe171aa-9c18-4c45-b98d-706064ab90aa",
              "leftValue": "={{ $('Config').item.json.email.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, -1740],
      "id": "a6d380a1-2651-407f-ac1c-8fb7d38af621",
      "name": "If Output to Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbe171aa-9c18-4c45-b98d-706064ab90aa",
              "leftValue": "={{ $('Config').item.json.chat.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, -1540],
      "id": "62b8b5ee-3aab-4970-b501-3f333e3e3ec7",
      "name": "If Output to Message"
    },
    {
      "parameters": {
        "html": "<h4>{{ $('Loop Over Items').item.json.site }}</h4>\n<p>{{ $json.data }}</p>\n<ul>\n  {{ $('Group HTML items').item.json.concatenated_item_html }}\n</ul>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [1796, -1035],
      "id": "33badb9e-1117-4149-98bb-0c7f5dac20bc",
      "name": "Set HTML Block"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Scapping RSS feeds</title>\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css\" rel=\"stylesheet\"\n    integrity=\"sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7\" crossorigin=\"anonymous\">\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js\"\n    integrity=\"sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq\"\n    crossorigin=\"anonymous\"></script>\n</head>\n<body>\n  <div class=\"container\">\n    {{ $json.concatenated_html }}\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: left;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [300, -1740],
      "id": "a763e5a9-6f85-4693-b46d-7e41106283ac",
      "name": "Set HTML Page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbe171aa-9c18-4c45-b98d-706064ab90aa",
              "leftValue": "={{ $('Config').item.json.ai.agent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, -1060],
      "id": "4e3bef2f-e542-4326-ac40-5dc0bce56e49",
      "name": "If Output to Message1"
    },
    {
      "parameters": {
        "html": "<h4>{{ $('Loop Over Items').item.json.site }}</h4>\n<ul>\n  {{ $('Group HTML items').item.json.concatenated_item_html }}\n</ul>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [980, -960],
      "id": "37fb54fc-e807-4abe-9f41-48c6271da18d",
      "name": "Set HTML Block1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"debug\": true,\n  \"ai\": {\n    \"agent\": true,\n    \"lang\": \"french\"\n  },\n  \"rss\": {\n    \"feeds\": \"/home/data/your-feeds.csv\",\n    \"maxitems\": 5\n  },\n  \"file\": {\n    \"active\": true,\n    \"name\": \"/home/data/your-summary.html\"\n  },\n  \"email\" : {\n    \"active\": true,\n    \"from\": \"RSS Scrapper <your@sender>\",\n    \"to\": \"your@recipient\",\n    \"subject\": \"RSS breaking news\"\n  },\n  \"chat\" : {\n    \"active\": true,\n    \"room\": \"!your-room-id:matrix.org\"\n  }\n}\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1220, -980],
      "id": "dee7cc0c-89da-405c-a593-91226ba66c82",
      "name": "Config"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Concatenate HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Add new fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add new fields": {
      "main": [
        [
          {
            "node": "Group HTML items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown  to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group HTML items": {
      "main": [
        [
          {
            "node": "If Output to Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Markdown": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown  to HTML": {
      "main": [
        [
          {
            "node": "Set HTML Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate HTML": {
      "main": [
        [
          {
            "node": "Set HTML Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Output to File": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Output to Email": {
      "main": [
        [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Output to Message": {
      "main": [
        [
          {
            "node": "Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HTML Block": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HTML Page": {
      "main": [
        [
          {
            "node": "If Output to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Output to Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Output to Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Output to Message1": {
      "main": [
        [
          {
            "node": "HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set HTML Block1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HTML Block1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "652e5216-34b0-4d7c-9d55-2609c0fa8198",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7624cfedacbc4451eaf214e1f7df52f4cae271426213f2120586adcdf848c30"
  },
  "id": "PNNzttaovgQQy6zd",
  "tags": []
}
